beautifulsoup4==4.12.3
textstat==0.7.13
nltk==3.10.0
spacy==3.7.5
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
language-tool-python==3.4.0
json5==0.15.0
numpy==1.26.4
