node_modules
.pytest_tmp*/
pytest-cache-files-*/
dist
.dist
.git
.gitignore
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tmp
supabase/.temp
supabase/.env*
supabase/.local-login.json
vite.config.ts.timestamp-*.mjs
